body {
  width: 100%;
  height: 100vh;
  background-color: cornsilk;
  display: flex;
  justify-content: center;
  align-items: center;
}
span {
  display: inline-block;
  background-color: white;
}
.background {
  background-color: rgb(133, 154, 194);
  width: 300px;
  height: 300px;
}
.circle {
  width: 300px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
@keyframes shcircle {
  0% {
    transform: rotateZ(0);
  }
  50% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(180deg);
  }
}
.circle_c {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  animation: shcircle 1.5s ease-in-out infinite;
}

.circle span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.square {
  width: 300px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes scale {
  0% {
    transform: none;
  }
  50% {
    transform: scaleY(1.5);
  }
  100% {
    transform: scaleY(1);
  }
}
.square span {
  width: 9px;
  height: 70px;
  margin: 0px 3px;
  animation: scale 1s ease-in-out infinite;
}
.square span:nth-child(2) {
  animation-delay: 0.2s;
}
.square span:nth-child(3) {
  animation-delay: 0.4s;
}
.square span:nth-child(4) {
  animation-delay: 0.6s;
}
.square span:nth-child(5) {
  animation-delay: 0.8s;
}
