body {
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
h1 {
  width: 100%;
  height: 80px;
  text-align: center;
}
div {
  width: 200px;
  height: 300px;
  position: relative;
  display: flex;
  margin: 0 auto;
}
#colorbox {
  width: 500px;
  height: 700px;
  background-color: none;
  flex-wrap: wrap;
}

div > div {
  background-color: tomato;
}
div > div:nth-child(2) {
  background-color: teal;
}
div:nth-child(3) {
  background-color: burlywood;
}
div:nth-child(4) {
  background-color: Thistle;
}
.inside {
  height: 100px;
  width: 200px;
  position: absolute;
  background-color: white;
  top: 20px;
  display: inline-block;
}
.first {
  display: inline-block;
  border: 5px solid white;
}
